html {
    font-size: 14px;
}

body {
    background-color: rgb(255, 242, 242);
    font-family: "Work Sans", "sans-serif";
}

.container {
    padding-top: 5.25rem;
}

#instructions h2 {
    color: rgb(32, 64, 86);
    font-size: 2.5rem;
    font-weight: bold;
}

#instructions h5 {
    font-size: 1rem;
    font-weight: bold;
}

#instructions p {
    color: rgb(74, 74, 74);
}

.card {
    align-items: center;
    background-color: rgb(32, 64, 86);
    border: 4px solid #ffffff;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-size: 7rem;
    font-weight: 900;
    height: 12.5rem;
    justify-content: center;
}

.victory {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 25px;
    display: none;
    margin: auto;
    padding: 50px;
    position: absolute;
    top: 35%;
    width: 500px;
    z-index: 10;
}

.victory h5 {
    font-size: 2rem;
    text-align: center;
}

.victory p {
    background-color: rgb(255, 242, 242);
    cursor: pointer;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

.victory-overlay {
    background-color: #000;
    display: none;
    height: 100%;
    opacity: .3;
    position: fixed;
    width: 100%;
    z-index: 5;
}
